* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.nav__content {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav__button {
  cursor: pointer;
  padding: 1em 2em;
  border: none;
  border-radius: 40px;
  background-color: #fff;
  color: hsl(208, 11%, 55%);
  font-weight: bold;
  font-size: 1.5rem;
  box-shadow: 0 0 2px gray;
}

.header {
  background-image: url(../../images/bg-hero-desktop.svg);
}

.btn {
  padding: 1em 2em;
  border: none;
  border-radius: 50px;
  background-color: pink;
  color: hsl(193, 100%, 96%);
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3em;
}
.hero__left h1 {
  padding-bottom: 0.5em;
  font-size: 4rem;
  font-weight: bold;
}
.hero__left p {
  padding-bottom: 2em;
  font-weight: bold;
  font-size: 1.5rem;
}

.footer {
  height: 40vh;
  background-color: hsl(192, 100%, 9%);
  color: hsl(193, 100%, 96%);
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2em;
}
.footer-logo img {
  filter: brightness(0);
  filter: invert(1);
}
.footer__left div:not(:first-child) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 2em;
}
.footer__left {
  line-height: 4;
}
.footer__center--1 ul {
  list-style-type: none;
  line-height: 4;
}
.footer__center--2 ul {
  list-style-type: none;
  line-height: 4;
}
.footer__center--1 ul li a {
  text-decoration: none;
  color: #fff;
}
.footer__center--2 ul li a {
  text-decoration: none;
  color: #fff;
}
.footer__center--1 ul li a:hover {
  text-decoration: underline;
  color: #fff;
}
.footer__center--2 ul li a:hover {
  text-decoration: underline;
  color: #fff;
}
.footer__right p {
  padding-top: 6em;
}