* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav__content {
  display: flex;
}

.main__content {
  width: 30%;
}

.main__1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 0 2px black;
  align-content: center;
  width: 100%;
  margin: 3em 0;
}

.main__2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  box-shadow: 0 0 2px black;
  margin: 3em 0;
}

.main__3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  box-shadow: 0 0 2px black;
  margin: 3em 0;
}

.main__image {
  margin-right: 3em;
}

.main__btn {
  border: none;
  border-radius: 50px;
  background-color: hsl(322, 100%, 66%);
  padding: 1em 4em;
  color: white;
}