 @use "../utilities/variables" as *;
@use "../utilities/mixins" as *;





.main__content{
    width:30%;
}


.main__1{
    @include flex(space-between, center);
    box-shadow:0 0 2px  black;
    align-content: center;
    width:100%;
    // background-color: aqua;
    margin:3em 0;
}

.main__2{
    @include flex(space-between, center, row-reverse);
    width:100%;
    box-shadow:0 0 2px  black;
    margin: 3em 0;
}


.main__3{
    @include flex(space-between, center);
    width:100%;
    box-shadow:0 0 2px  black;
    margin: 3em 0;
}

.main__image{
    @include flex(flex-end, center);
}




